
<section id="container">

  <app-header></app-header>

  <aside>
    <div id="sidebar" class="nav-collapse">
      <ul class="sidebar-menu" id="nav-accordion">

        <li class="centered">
          <img src="assets/img/profile.png" class="img-circle" width="60" alt="profile">
        </li>

        <li class="centered" style="margin-top: 15px; margin-bottom: 20px; color: #ffffff">{{ user.name }}</li>

        <li class="sub-menu" *ngFor="let route of routes">
          <a [routerLink]= "[route.url]" [state]="{user: user}">
            {{ route.linkName }}
          </a>
        </li>

      </ul>
    </div>
  </aside>

  <!-- Main content -->
  <section id="main-content">
    <section class="wrapper">
    <router-outlet></router-outlet>
    </section>
  </section>

</section>
